<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div id="app">        
        <table id="cartTable">
                <thead>
                    <tr>
                        <th><label><input class="check-all check" type="checkbox" :checked="checkAllFlag" @click="checkAll(true)"/>&nbsp;全选</label></th>
                        <th>商品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,index) in productList">
                        <td class="checkbox"><input class="check-one check" type="checkbox" v-bind:checked="item.checked" @click="selectedProduct(item)"/></td>
                        <td class="goods"><img v-bind:src="item.productImage"/><span>{{item.productName}}</span></td>
                        <td class="price">{{item.productPrice | formatMoney}}</td>
                        <td class="count">
                            <span class="reduce" @click="changeMoney(item,-1)">-</span>
                            <input class="count-input" type="text" value="1" v-model="item.productQuentity"/>
                            <span class="add" @click="changeMoney(item,1)">+</span></td>
                        <td class="subtotal">{{item.productPrice*item.productQuentity |money('元')}}</td>
                        <td class="operation"><span class="delete" @click="delConfirm(item)">删除</span></td>
                    </tr>
                </tbody>
        </table>
        <div class="foot" id="foot">
            <label class="fl select-all"><input type="checkbox" class="check-all check" @click="checkAll(false)"/>&nbsp;取消全选</label>
            <a class="fl delete" id="deleteAll" href="javascript:;">删除</a>
            <div class="fr closing">结 算</div>
            <div class="fr total">合计：￥<span id="priceTotal">{{totalMoney | money('元')}}</span></div>
            <div class="fr selected" id="selected">已选商品
                <span id="selectedTotal">0</span>件
                <span class="arrow up">︽</span>
                <span class="arrow down">︾</span>
            </div>
            <div class="selected-view">
                <div id="selectedViewList" class="clearfix">
                    <!--<div><img src="images/1.jpg"><span>取消选择</span></div>-->
                </div>
                <span class="arrow">◆<span>◆</span></span>
            </div>
        </div>
    </div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="js/cart.js"></script>
</body>
</html>